services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
      target: final  
    container_name: backend
    ports:
      - "8080:8080"
      - "8081:8081"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://+:8080
    networks:
      - app-network

  frontend:
    build:
      context: ./front  
      dockerfile: Dockerfile
      target: frontend-final
    container_name: frontend
    depends_on:
      - backend
    ports:
      - "3000:3000"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
