.navbar {
    background-color: #34495E;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    font-weight: 600;
    font-size: 48px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__left {
    display: flex;
    margin-left: 25px;
    align-items: center;
}

.navbar__center {
    text-align: center;
    flex-grow: 1;
}