.app__style {
    padding: 20px 80px 40px 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.app__fucntion-buttons { 
    grid-area: 2 / 1 / 5 / 2; 
    display: grid;
    grid-template-rows: repeat(4, 80px);
    grid-template-columns: 100px 50px 50px;
    gap: 0 10px;
}

.app__main-box { 
    grid-area: 1 / 1 / 2 / 4; 
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-app__main-box {
    grid-area: 1 / 1 / 2 / 4;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-app__buttons {
    grid-area: 4 / 1 / 4 / 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 30px;
    margin-bottom: 10px;
}

.app__random-box { 
    grid-area: 2 / 3 / 5 / 4;
    display: grid;
    grid-template-rows: repeat(2, 60px);
    grid-template-columns: 25% 75%;
    gap: 0 10px;
    align-items: center;
}

.app__box {
    grid-area: 2 / 3 / 5 / 4;
    display: grid;
    grid-template-rows: repeat(2, 60px);
    grid-template-columns: 60% 40%;
    gap: 0 10px;
    align-items: center;
}

.app__random-box__text-container{
    grid-column: span 2 / span 2;
}