.searchbar__style {
    display: grid;
    grid-template-rows: 100px;
}

.searchbar__search{
    background-color: #465d74;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbar__list{
    overflow: scroll;
    padding: 10px 20px 0 20px;
}

.searchbar__list::-webkit-scrollbar {
    display: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list__section-name{
    margin-bottom: 30px;
}

.list__route {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-left: 15px;
    cursor: pointer;
}

.list__route:hover {
    color: white;
}